.user {
    position:fixed;
    height:128px;
    width:640px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    border:4px solid #ccc;
    color:#888;
    
    img, h1, input {
        font-size:32px;
        font-family:sans-serif;
        font-weight:normal;
        float:left;
        height:64px;
        line-height:64px;
        text-align:left;
    }

    img.avatar {
        width:64px;
    }
    
    h1.name {
        padding-left:24px;
        padding-right:24px;
        border-left:1px solid #ccc;
    }
    
    input.secret {
        width:100%;
        text-align:center;
        border-top:1px solid #ccc;
    }
}