%form.login{action:"/login", method:"post"}
  %label
    邮箱:
    %input{name:"login", type:"text"}

  %label
    密码:
    %input{name:"password", type:"password"}

  %button 登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录
